<ion-view>
	<ion-content class="por2">
	<i class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="tab.categories">Back</i>
	<img src="img/tienda.png" class="tv">
	<h1 class="tx">{{prod}}</h1>
	<div class="container">
		<div class="col">
			<div class="col-100 n2">
				<div class="list card">

					<div class="item item-avatar">
						<img src="img/ap.jpg">
					    	<h2>SmarTV LG</h2>
					    <p>Q3,500.00</p>
					</div>

					<div class="item item-body">
					    <img class="tv2" src="img/lg.png">
					    	<p>
					    		Television LG pantalla plasma Smartv de 45"
					     		<br>
					     		prcios exclusivo por el mes de julio, aprovech tu bono 14 con el precio de Q3,500.
					     		<br>
					     		oferta solo hasta el mes de julio. 
					 		</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col">
			<div class="col-100 n2">
				<div class="list card">

					<div class="item item-avatar">
						<img src="img/ap.jpg">
					    	<h2>SmarTV LG</h2>
					    <p>Q3,500.00</p>
					</div>

					<div class="item item-body">
					    <img class="tv2" src="img/lg.png">
					    	<p>
					    		Television LG pantalla plasma Smartv de 45"
					     		<br>
					     		prcios exclusivo por el mes de julio, aprovech tu bono 14 con el precio de Q3,500.
					     		<br>
					     		oferta solo hasta el mes de julio. 
					 		</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>