<ion-view>
	<ion-content>
		<img src="www/img/logoMax.png">
		<div class="tvideos">
			Tv y Videos
		</div>
		<div class="celulares">
			Celulares
		</div>
		<div class="Lblancas">
			Lineas Blancas
		</div>
		<div class="juegos">
			Video Juegos
		</div>
		<div class="compu">
			Computadoras y tablets
		</div>
		<div class="audio">
			Audio
		</div>
		<div class="Vehiculos">
			Audios Para Vehiculos
		</div>
		<div class="camara">
			Camaras y Drones
		</div>
		<div class="audifonos">
			Audios Para Audifonos
		</div>
		<div class="prendas">
			Prendas Electronicas
		</div>
		<div class="personales">
			Cuidados personales
		</div>
		<div class="ambiente">
			Ambientadores
		</div>
		<div class="digital">
			contenidos digitales
		</div>
		<div class="telefonos">
			Telefonos Fijos
		</div>
		<div class="bici">
			Bicicletas Electronicas
		</div>
		<div class="hogar">
			Hogar
		</div>
		<div class="panel">
			Paneles Solares
		</div>
	</ion-content>
</ion-view>