	<ion-view>
	<ion-content class="por2">
	<i class="button fas fa-arrow-circle-left button-clear button-dark buyButtontree" ui-sref="tab.categories"></i>
	<img src="img/tienda.png" class="tv">
	<h1 class="tx">{{prod}}</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="item">
					<i class="button fas fa-shopping-cart button-ligth buyButton"></i>
					<p class="textCompra">Carrito de Compras</p>
					<p class="textCompra">Q.000.00</p>
				</div>
			</div>
		</div>
	</div>
	<!--Contenedores del producto #1-->
	<div class="container" ng-repeat="x in productos | filter: enlacecategories">
		<div class="col">
			<div class="col-100 n2">
				<div class="list card">

					<div class="item">
						<img src="img/lgd.png" class="iconos">
					</div>

					<div class="item item-body">
					    <img class="tv2" src="{{x.foto}}">
					    	<p>
							    <h2>{{x.name}}</h2>
							    <h4>Precio del Producto:</h4>
							    <p>Q{{x.Price}}</p>
					     		<p class="lol">Oferta solo hasta el 17 de Septiembre 2019</p>
					     		<button class="button icon-left ion-bag buyButtondos">COMPRAR</button>
					 		</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	</ion-content>
</ion-view>


