/* Empty. Add your own CSS if you like */
/*wallpaper */
/*Fondo de pantalla*/
.por{
	background-color: #ffffff;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.por2{
	background-color:  #e6e6e6;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
/*Design of the square in general */
/*Diseño del Cuadrado en  general*/
.cuadrado{
	width: 100%;
	border-style: solid;
	border-width: 2px;
	height: 100px;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 15px;
	color: #b30000;
	display: flex;
	align-items: center;
	justify-content: center; 
}
/*Desing from all the space between to tallys*/
/*Diseño de toda el espacio entre cuadrados*/
.row{
	flex-wrap: wrap;
}
/*Container*/
/*Contenedores*/
.n1{
	padding: 2%;
}
/*size from the icon*/
/*tamaño de los iconos*/
i {
	font-size: 40px;
}
.title{
	text-align: center;
	font-family: 'Maiden Orange', cursive;
 }
 .tv{
	display:block;
	margin:auto;
	width: 350px;
	height: 250px;
}
.tv2{
	display: block;
	margin: auto;
	width: 150px;
	height: 150px;	
}
.tx{
	text-align: center;
	font-size: 40px;
	color:  #1a1a1a;
	font-family: 'Permanent Marker', cursive;
}
.cuadrado2{
	width: 100%;
	border-style: solid;
	border-width: 2px;
	height: 400px;
	padding: 10px;
	text-align: left;
	font-family: 'Courgette', cursive;
	font-size: 15px;
	color: #b30000;
	display: flex;
	background-color: #ffffff;
}
.n2{
	padding: 2%;
}
/*iconos de la vista de compras*/
.iconos{
	display: block;
	margin: auto;	
	width: 75px;
	height: 35px;
}

.lol{
	width: 100%;
	height: 50px;
	border: 0px solid;
	border-color: #ddd;
	font-style: oblique;
	font-weight: 900;
}
.buyButton{
	margin-left: 1px;
	width: 50px;
	padding: 0px;
	float: left;
	background-color: #BA2431;
	color: #ffffff;
}
.buyButtondos{
	margin-right: 1px;
	width: 120px;
	padding: 5px;
	float: left;
	background-color: #BA2431;
	color: #ffffff;
}
.buyButtondos2{
	margin-left: 50px;
	width: 55px;
	padding: 5px;
	float: left;
	background-color: #BA2431;
	color: #ffffff;
}
.buyButtontree{
	margin-left: 1px;
	width: 50px;
	padding: 5px;
	float: left;
	height: 100px;
	background-color: #BA2431;
	color: #ffffff;
}
.textCompra{
	padding: 0 0 0 5px;
	color: #ffffff;
	font-family: "Times New Roman", Times, serif;
	font-weight: 1000;
}
/*menu*/
ul#menu {
 background: #ffffff;
 width: 325px;
 padding: 0px;
 float:left;
}
  
ul#menu li {
 color: #fff;
 float: left;
 list-style: none;
 margin: 0% 1%;
}
  
ul#menu li:hover{
 color: #aaa073;
 cursor:pointer;
}
  
ul#menu ul {
 display: none;
 position: absolute;
 top: 40px;
 background: #333;
 color: #fff;
 padding: 1px 0px 0px 0px;
 margin: 0;
 }
  
ul#menu ul li{
 float: left;	
 color: #fff;
 width:100%;
 margin: 5px 0px;
 font-size: 11px;
 font-family: oblique; 
}
 
ul#menu ul li a{
 color: #fff;
}
  
ul#menu ul li a:hover{
 color: #aaa073;
 cursor:pointer;
}
  
ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
 display: none;
 cursor:pointer;
}
  
ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
 display: block;
 cursor:pointer;
}